/* app.css */

.App {
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%; /* Ensure max width is 100% */
    height: auto; /* Adjust height */
    z-index: 10;
}

.App-header {
    flex-shrink: 0; /* Prevent the header from shrinking */
    width: 100%;
}

.responsive-paragraph {
    margin: 0;
    font-size: 1em;
    padding-bottom: 1em;
}

/* In your component's CSS file */

/* Styles for screens with a maximum width of 600px (typically mobile devices) */
@media only screen and (max-width: 600px) {
    .responsive-paragraph {
        width: 100%;
    }
}

/* Styles for screens wider than 600px (typically desktop devices) */
@media only screen and (min-width: 601px) {
    .responsive-paragraph {
        width: 60%;
    }
}
