body {
    margin: 2em;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
   
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "inter", monospace;
}


