.App {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height of the viewport */
    justify-content: space-between; /* Space out the header and whole-section */
    margin-bottom: 2em;

}

.App-header {
    flex-shrink: 0; /* Prevent the header from shrinking */
}

.whole-section {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    flex-grow: 1; /* Grow to fill remaining space */
    width: 100%; /* Full width */
    z-index: 10;
}

.react-typewriter-text {
    font-size: 2em;
    color: #333333; /* Customize text color */
    font-weight: 900; /* Make cursor thicker */
    line-height: 1.5em;
}

.graphic {
    width: 40vw;
    z-index: 10;
}

.react-typewriter-pointer {
    font-size: 1em;
    color: #3da9de; /* Customize cursor color */
    padding: 0.2em;
    animation: blink 1s infinite;
    margin: 0; /* Adjust margin if needed */
}

/*  */


/* Media query for mobile devices */
@media (max-width: 768px) {
    /* Adjust the max-width as needed for your design */
    .graphic {
        width: 100%; /* Full width on mobile devices */
    }
    .whole-section {
        padding: 0; /* Remove padding on mobile devices */
        margin: 0; /* Remove margin on mobile devices */
    }
    .App {
        height: 100%; /* Remove height on mobile devices */
    }
    .react-typewriter-text {
        font-size: 1.5em; /* Adjust font size on mobile devices */
    }
}
