/* TypingEffect.css */
.whole-section {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    flex-grow: 1; /* Grow to fill remaining space */
    width: 100%; /* Full width */
}

.react-typewriter-text {
    font-size: 2em;
    color: #333333; /* Customize text color */
    font-weight: 900; /* Make cursor thicker */
    line-height: 1.5em;
    width: 100%; /* Full width */
}

.graphic {
    width: 40vw;
}

.react-typewriter-pointer {
    font-size: 1em;
    color: #3da9de; /* Customize cursor color */
    padding: 0.2em;
    animation: blink 1s infinite;
    margin: 0; /* Adjust margin if needed */
}


.messages-section {
    max-height: auto; /* Adjust the height as needed */
    overflow-y: auto;
    background-color: #f0f0f0; /* Light grey background */
    border: 1px solid #ddd; /* Light grey border */
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    width: auto; /* Full width */
    margin-bottom: 2em;
}

.message {
    background-color: #3da9de; /* Lavender background */
    color: #ffffff; /* Dark text color */
    padding: 0.3em 0.5em;
    border-radius: 15px;
    margin-bottom: 8px;
    max-width: 100%;
    word-break: break-word;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.message-timestamp {
    font-size: 0.8em;
    color: #ffffff;
    margin-top: 4px;
}






/*  */


/* Media query for mobile devices */
@media (max-width: 768px) {
    /* Adjust the max-width as needed for your design */
    .graphic {
        width: 100%; /* Full width on mobile devices */
    }
    .whole-section {
        padding: 0; /* Remove padding on mobile devices */
        margin: 0; /* Remove margin on mobile devices */
    }
  
    .react-typewriter-text {
        font-size: 1.5em; /* Adjust font size on mobile devices */
        width: 100%; /* Full width on mobile devices */
    }
}
